<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>
        {{ todo.id }}
      </td>
      <td>{{ todo.title }}</td>
      <td>{{ getUserName(todo.userId) }}</td>
      <td *ngIf="todo.completed">Done</td>
      <td *ngIf="!todo.completed">In Progress</td>
      <td>
        <button (click)="removeTodoItem(todo)">Delete</button>
        <button (click)="editTodo(todo)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<button
  *ngFor="let page of pageNumber"
  (click)="changePage(page)"
  [class.active]="page == selectedPage"
>
  {{ page }}
</button>

<div *ngIf="showModal">
  <div class="jw-modal" >
    
   <div class="jw-modal-body">
     <input type="text" [(ngModel)]="todoTitle">
     <div>
     <input type="checkbox" [(ngModel)]="todoCompleted">
      <input type="hidden" [(ngModel)]="todoId">
     </div>
     <button (click)="updateTodo()">Save</button>
     <button (click)="closeModal()">Cancel</button>
     
   </div>
</div>
<div class="jw-modal-background"></div>
</div>



